<div class="container-fluid">
  <div class="posts">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <hr />
    <h3>Comments</h3>
    {{#each comments as |comment|}}
    <p>{{content}}<br />
    {{user_id}} - {{createdOn}}</p>
    {{/each}}

  </div>
</div>